<!DOCTYPE html>
<%- partial('partial/head') %>

<body>
    <div id="navv">
        <%- partial('partial/header') %>
    </div>
    <% if(theme.bigimg){ %>
    <section id="bigimg">
        <%- partial('partial/bigimgpage') %>
    </section>
    <% } %>
    <section id="main">
        <div class="container container-fri">
            <div class="page-header posttitle">
                <h1><%- theme.friends.pagetitle %> <small>friends</small></h1>
            </div>
            <div class="row">
                <% theme.friends.list.forEach(function(item){ %>
                <% if(item.page==true){ %>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body frpanel">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <% if(item.img==""){ %>
                                        <img class="frimg" src="23333">
                                        <% }else{ %>
                                        <img class="frimg" src="<%- item.img %>">
                                        <% } %></div>
                                    <div class="frtext col-xs-7">
                                        <h4><strong><a href="<%- item.url %>"><%= item.title %></a></strong></h4>
                                        <p><%= item.desc %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }) %>
                <hr>
            </div>
            <div class="row">
                <%- partial('partial/disqus') %>
            </div>
            <br>
    </section>
    <%- partial('partial/footer') %>
</body>