<!DOCTYPE html>
<%- partial('partial/head') %>

<body>
    <section id="navv">
        <%- partial('partial/header') %>
    </section>
    <section id="main" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-list">
                    <% page.posts.each(function (post) { %>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <h3><a href="<%- url_for(post.path) %>"><%= post.title %></a><small class="post-time">
                                    <%- date(post.date, "YYYY-MM-DD") %></small></h3>
                            <small><%- post.excerpt %></small>
                            <a class="btn btn-sm" href="<%- url_for(post.path) %>"><%- __('readmore') %></a>
                        </div>
                    </div>
                    <% }) %>
                    <%- partial('partial/paginator') %>
                    <br>
                </div>
                <div class="col-md-3">
                    <%- partial('partial/sidebar') %>
                </div>
            </div>
        </div>
    </section>
    <section id="foot">
        <footer>
            <script src="/js/bootstrap.min.js"></script>
            <% if(theme.analytics.google.enable){ %><%- partial('partial/gtag') %><% } %>
            <% if(theme.analytics.LA.enable){ %><%- partial('partial/LA') %><% } %>
            <% if(theme.analytics.busuanzi.enable){ %>
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <% } %>
            <% if(theme.totop){ %>
            <script src="/js/totop.js"></script>
            <% } %>
            <script src="/js/night.js"></script>
            <div id="footer">Copyright © <%- theme.sitesince %> - <%- date(Date.now(), 'YYYY') %> <a href="/."
                    rel="nofollow"><%- config.title %>.</a><br>Powered by<a rel="nofollow" target="_blank"
                    href="https://hexo.io">
                    Hexo </a> and <a rel="nofollow" target="_blank"
                    href="https://github.com/johnpoint/hexo-theme-XvA">XvA</a>.
                <% if(theme.analytics.busuanzi.enable){ %>
                <br><span id="busuanzi_container_site_pv" style='display:none'>
                    <%= theme.analytics.busuanzi.text.head %> <span id="busuanzi_value_site_pv"></span>
                    <%= theme.analytics.busuanzi.text.end %>
                </span><% } %></div>
        </footer>
    </section>
</body>