<!DOCTYPE html>
<%- partial('partial/head') %>

<body style="padding-top: 70px;">
    <%- partial('partial/header') %>
    <div class="container">
        <% if(page.sidebar){ %>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <% } %>
                <article class="post">
                    <div class="post-title">
                        <div class="page-header">
                            <h1><%= page.title %> <small><%- page.description %></small></h1>
                        </div>
                    </div>
                    <div class="post-content">
                        <%- page.content %>
                    </div>
                </article>
                <% if(theme.comment.disqus.enable==true && page.comment!=false){ %>
                <hr>
                <%- partial('partial/disqus') %>
                <% } %>
            </div>
            <% if(page.sidebar){ %>
            <br>
            <div class="col-xs-6 col-md-4">
                <%- partial('partial/sidebar') %>
            </div>
            <% } %>
        </div>
    </div>
    <%- partial('partial/footer') %>
</body>