<div>
    <ul class="post-copyright">
        <% if(page.author!=null){ %>
        <li class="post-copyright-author"><strong><%- __('Author of this article: ') %></strong>
            <%= page.author %>
        </li>
        <% }else{ %>
        <li class="post-copyright-author"><strong><%- __('Author of this article: ') %></strong>
            <%= theme.post_copyright.author %>
        </li>
        <% } %>
        <li class="post-copyright-link"><strong><%- __('Link to this article: ') %></strong>
            <a href="<% page.permalink %>" id="copyrightlink">
                <script>
                    document.getElementById("copyrightlink").innerText=decodeURI("<%= page.permalink %>")
                </script>
            </a>
        </li>
        <li class="post-copyright-license"><strong><%- __('Copyright Notice: ') %></strong>
            <%- theme.post_copyright.copyright_text %>
        </li>
    </ul>
</div>