<footer>
        <div id="footer">Copyright © <%- theme.sitesince %> - <%- date(Date.now(), 'YYYY') %> <a href="/."
                        rel="nofollow"><%- config.title %>.</a><br><a rel="nofollow" target="_blank"
                        href="https://hexo.io">
                        Hexo </a> -<a rel="nofollow" target="_blank" href="https://github.com/johnpoint/hexo-theme-XvA">
                        Theme</a>.
                <% if(theme.analytics.busuanzi.enable){ %>
                <br><span id="busuanzi_container_site_pv" style='display:none'>
                        <%= theme.analytics.busuanzi.text.head %> <span id="busuanzi_value_site_pv"></span>
                        <%= theme.analytics.busuanzi.text.end %>
                </span><% } %></div>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <% if(theme.fancybox){ %>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/wrapImage.js"></script>
        <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
        <% } %>
        <% if(theme.analytics.google.enable){ %><%- partial('gtag') %><% } %>
        <% if(theme.analytics.busuanzi.enable){ %>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

        <% } %>
</footer>