<div id="gitalk-container"></div>
<link rel="stylesheet" href="/css/gitalk.min.css">
<script src="/js/gitalk.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '<%- theme.comment.gitalk.oauth.client_id %>',
  clientSecret: '<%- theme.comment.gitalk.oauth.client_secret %>',
  repo: '<%- theme.comment.gitalk.repo %>',
  owner: '<%- theme.comment.gitalk.owner %>',
  admin: <% if(theme.comment.gitalk.admin==null){ %>['<%- theme.comment.gitalk.owner %>']<% } else { %>[<% while(theme.comment.gitalk.admin.length>0){ %>,"<%- theme.comment.gitalk.admin.pop() %>"<% } %>]<% } %>,
  id: '<%- page.title %>',
  distractionFreeMode: false
})
gitalk.render('gitalk-container')
</script>