<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">POST INFO</h3>
    </div>
    <div class="panel-body">
        <strong>作者: </strong><%= theme.post_copyright.author %><br>
        <strong>发布日期: </strong><%- date(page.date,'YYYY-MM-DD') %><br>
        <strong>标签: </strong>
        <% page.tags.forEach(function(tag){ %>
        <a href="/<%= tag.path %>">#<%- tag.name %></a>
        <% }) %>
    </div>
</div>
<% if(page.toc){ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">TOC</h3>
    </div>
    <div class="panel-body">
        <%- toc(page.content,{list_number:false}) %>
    </div>
</div>
<% } %>