<div class="panel panel-info">
    <div class="panel-body postinfo">
        <% if(page.author!=null){ %>
        <strong><%- __('Author: ') %></strong><%= page.author %><br>
        <% }else{ %>
        <% if(theme.post_copyright.author!=null){ %>
        <strong><%- __('Author: ') %></strong><%= theme.post_copyright.author %><br>
        <% } %>
        <% } %>
        <strong><%- __('Release date: ') %></strong><%- date(page.date,'YYYY-MM-DD') %><br>
        <% page.tags.forEach(function(tag){ %>
        <a href="/<%= tag.path %>"></style><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<%- tag.name %></a>&nbsp;
        <% }) %>
        <% if(page.pressone!=null){ %>
        <br><a href="<%= page.pressone %>"><i class="fa fa-certificate"
                aria-hidden="true"></i>&nbsp;<%- __('signature') %></a>
        <% } %>
    </div>
</div>
<% if(page.toc){ %>

<%- toc(page.content,{class:'post-toc',list_number:true}) %>

<% } %>