<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><%- __('POST INFO') %></h3>
    </div>
    <div class="panel-body">
    <% if(page.author!=null){ %>
        <strong><%- __('Author: ') %></strong><%= page.author %><br>
    <% }else{ %>
    <% if(theme.post_copyright.author!=null){ %>
        <strong><%- __('Author: ') %></strong><%= theme.post_copyright.author %><br>
    <% } %>
    <% } %>
        <strong><%- __('Release date: ') %></strong><%- date(page.date,'YYYY-MM-DD') %><br>
        <strong><%- __('tags: ') %></strong>
        <% page.tags.forEach(function(tag){ %>
        <a href="/<%= tag.path %>">#<%- tag.name %></a>
        <% }) %>
    </div>
</div>
<% if(page.toc){ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%- __('TOC') %></h3>
    </div>
    <div class="panel-body panel-toc">
        <%- toc(page.content,{class:'post-toc',list_number:true}) %>
    </div>
</div>
<% } %>